
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Tahoma', sans-serif;
}

h1 {
  margin: 0;
  line-height: 1.2em;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: .5em;
  line-height: 1.2em;
}

/*  Misc */
.big-v {
  font-size: 1.5em;
  line-height: .5em;
}

strong {
  font-weight: 900;
}

/*  Hover and focus effects */
button:hover, button:focus {
  background-color: #FFF8DC;
  box-shadow: 5px 5px 2px 1px #999;
}

main {
  margin: 0 auto;
  padding: 0 1% 2rem;
}

main h2 {
  line-height: 1.2em;
}

main form {
  margin: 25px 0;
  text-align: center;
}

main form #search-words {
  width: 50%;
  max-width: 40em;
}

/*  Default style for buttons */
button {
  background-color: #eee8c0;
  font-weight: 900;
  padding: 0.25em;
  font-size: 1.25em;
  border: solid 2px gray;
  border-radius: 30%;
  box-shadow: 5px 5px 2px 1px gray;
}

figure {
  border-bottom: none;
  background-color: #eee;
  margin: 8px 0;
  padding: 0;
  width: 100%;
}

figure figcaption {
  width: 100%;
}

figure img {
  display: block;
  margin-top: 4px;
  width: 100%;
}

figure figcaption {
  display: block;
  font-size: .9rem;
  height: 3.8em;
  margin: 0;
  padding: 3px;
  display: block;
  overflow: hidden;
}
